<form asp-controller="Payment" asp-action="CreatePaymentUrlVnpay" method="post">
    <input type="hidden" name="Name" value="Thắng" />
    <input type="hidden" name="OrderType" value="other" />
    <input type="hidden" name="OrderDescription" value="Nguyen Van Thang" />
    <input type="hidden" name="Amount" value="10000" />
    <button type="submit">Pay with VnPay</button>
</form>