      <section class="pt-50 login-register">
        <div class="container">
          <div class="row login-register-cover pb-250">
            <div class="col-lg-5 col-md-6 col-sm-12 mx-auto">
              <div class="text-center"><img class="w-75 mb-30" src="assets/imgs/template/404.svg" alt="JobBox">
                <h2 class="mt-10 mb-5 text-brand-1">Something Went Wrong!</h2>
                <p class="font-sm text-muted mb-30">Sorry, but we are unable to open this page.</p>
              </div>
              <form class="login-register text-start mt-20 mb-30" action="#">
                <div class="form-group">
                  <label class="form-label" for="input-1">Search</label>
                  <input class="form-control" id="input-1" type="text" required="" name="text" placeholder="Enter keywords">
                </div>
              </form>
              <div class="text-center mt-20"><a href="index.html">Back To Homepage</a></div>
            </div>
          </div>
        </div>
      </section>