<header class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" asp-area="Public" asp-controller="Home" asp-action="Index"><img alt="jobBox" src="~/public/assets/imgs/template/jobhub-logo.svg"></a></div>
            </div>
            <div class="header-nav">
                <nav class="nav-main-menu">
                    <ul class="main-menu">
                        <li class="has-children">
                            <a class="active" asp-area="Public" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="has-children">
                            <a asp-area="Public" asp-controller="Job" asp-action="Index">Find a Job</a>
                            <ul class="sub-menu">
                                <li><a href="#">Jobs Grid</a></li>
                                <li><a href="#">Jobs List</a></li>
                                <li><a asp-area="Public" asp-controller="Job" asp-action="Detail" asp-route-Id="1">Jobs Details</a></li>
                                <li><a href="#">Jobs Details 2</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a asp-area="Public" asp-controller="Company" asp-action="Index">Company Details</a>
                            <ul class="sub-menu">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Company</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Candidates</a>
                            <ul class="sub-menu">
                                <li><a href="#">Candidates Grid</a></li>
                                <li><a href="#">Candidate Details</a></li>
                                <li><a href="#">Candidate Profile</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a asp-area="Candidate" asp-controller="Candidate" asp-action="Index">DoashBoard</a>
                            <ul class="sub-menu">
                                <li><a href="#">Blog Grid</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right">
                <div class="block-signin">
                    <a class="text-link-bd-btom hover-up" asp-area="Public" asp-controller="Auth" asp-action="Register">Register</a>
                    <a asp-area="Public" asp-controller="Auth" asp-action="Login" class="btn btn-default btn-shadow ml-40 hover-up">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>
