<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="msapplication-config" content="browserconfig.html">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/public/assets/imgs/template/favicon.svg">
    <link href="~/public/assets/css/stylecd4e.css?version=4.1" rel="stylesheet">
    <title>Jobbox - Job Portal HTML Template </title>
</head>
<body>
    @await Html.PartialAsync("_Header")
    <main class="main">
        @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer")
    <!-- ✅ Load jQuery và các vendor chính TRƯỚC -->
    <script src="~/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>

    <!-- ✅ Các plugin phụ thuộc jQuery -->
    <script src="~/public/assets/js/plugins/waypoints.js"></script>
    <script src="~/public/assets/js/plugins/wow.js"></script>
    <script src="~/public/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/public/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/public/assets/js/plugins/select2.min.js"></script>
    <script src="~/public/assets/js/plugins/isotope.js"></script>
    <script src="~/public/assets/js/plugins/scrollup.js"></script>
    <script src="~/public/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/public/assets/js/plugins/counterup.js"></script>
    <script src="~/public/assets/js/noUISlider.js"></script>
    <script src="~/public/assets/js/slider.js"></script>

    <!-- ✅ Script chính -->
    <script src="~/public/assets/js/main8c94.js?v=4.1"></script>

    <!-- ✅ Nếu có thư viện từ lib -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- ✅ Script riêng của bạn -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
