@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Geist Sans';
  src: url('./assets/fonts/Geist/webfonts/Geist[wght].woff2') format('woff2');
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./assets/fonts/GeistMono/webfonts/GeistMono[wght].woff2') format('woff2');
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0); /* #FFFFFF */
  --foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --card: oklch(1 0 0); /* #FFFFFF */
  --card-foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --popover: oklch(1 0 0); /* #FFFFFF */
  --popover-foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --primary: oklch(54.9% 0.17 259.84); /* #1967D2 */
  --primary-foreground: oklch(1 0 0); /* #FFFFFF */
  --secondary: oklch(67.2% 0.16 142.2); /* #34A853 */
  --secondary-foreground: oklch(1 0 0); /* #FFFFFF */
  --muted: oklch(97.97% 0.005 282.52); /* #F8F9FA */
  --muted-foreground: oklch(49.46% 0.01 259.5); /* #5F6368 */
  --accent: oklch(49.56% 0.19 261.35); /* #0B57D0 */
  --accent-foreground: oklch(1 0 0); /* #FFFFFF */
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(90.15% 0 0); /* #E0E0E0 */
  --input: oklch(90.15% 0 0); /* #E0E0E0 */
  --ring: oklch(54.9% 0.17 259.84); /* #1967D2 */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(19.32% 0.006 282.52); /* #202124 */
  --foreground: oklch(97.97% 0.005 282.52); /* #F8F9FA */
  --card: oklch(24.36% 0.006 282.52); /* #282a2d */
  --card-foreground: oklch(97.97% 0.005 282.52); /* #F8F9FA */
  --popover: oklch(24.36% 0.006 282.52); /* #282a2d */
  --popover-foreground: oklch(97.97% 0.005 282.52); /* #F8F9FA */
  --primary: oklch(76.22% 0.12 258.11); /* #8AB4F8 */
  --primary-foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --secondary: oklch(80.52% 0.09 143.64); /* #81C995 */
  --secondary-foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --muted: oklch(24.36% 0.006 282.52); /* #282a2d */
  --muted-foreground: oklch(49.46% 0.01 259.5); /* #5F6368 */
  --accent: oklch(84.44% 0.08 259.01); /* #AECBFA */
  --accent-foreground: oklch(19.32% 0.006 282.52); /* #202124 */
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(49.46% 0.01 259.5); /* #5F6368 */
  --input: oklch(49.46% 0.01 259.5); /* #5F6368 */
  --ring: oklch(76.22% 0.12 258.11); /* #8AB4F8 */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Geist Sans', sans-serif;
  }
}
